.layout {
  padding: 32px;
}

.heading {
  color: #018383;
  margin-bottom: 100px;
}

.message {
  text-align: center;
  color: #0dbba5;
}

.container {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  height: 1500px;
}

.item-wrapper {
  width: calc(80vw);
  height: 70vh;
}

.item {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #0dbba5;
}
